# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Vendor & temporary files
vendor/
*.log
*.tmp

# IDE / Editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Database files
*.db*

# Environment
.env*

# Git & project files
.gitignore
README.md
.github
