# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Vendor & temporary files
vendor/
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Database files
*.db*
*.sqlite*
*.sqlite3*

# Environment
.env
.env.*

# Git & project files
.gitignore
README.md
.github

# Logs
logs/

serviceAccountKey.json